<mat-toolbar class="lead">
  <mat-toolbar-row>
    <span
      class="example-space"
      style="margin-left: 0%; color: brown;font-family: Verdana, Geneva, Tahoma, sans-serif; font: bold;text-align: center;align-items: center"
      >Fleet Management System</span
    >
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>
    <!-- <button
      mat-button
      [routerLink]="['/dashboard']"
      routerLinkActive="router-link-active"
      *ngIf="currentStatus.status"
    >
      Home
    </button> -->
    <!-- <button
      mat-button
      [routerLink]="['/user']"
      routerLinkActive="router-link-active"
      *ngIf="currentStatus.status"
    >
      Add User
    </button> -->
    <!-- <button
      mat-button
      [routerLink]="['/login']"
      routerLinkActive="router-link-active"
      *ngIf="!currentStatus.status"
    >
      Login 
    </button>-->
    <button
      style="margin-left: 12%; color: brown"
      mat-raised-button
      (click)="logout()"
      color="pad15"
      *ngIf="currentStatus.status"
    >
      Logout
    </button>
  </mat-toolbar-row></mat-toolbar
>
<!-- <div *ngIf="title === 'Fleet Management'; else login">
  <app-user></app-user>
</div>
<ng-template #login><app-login></app-login> </ng-template> -->

<router-outlet></router-outlet>
